{% extends "layout.html" %}

{% block body %}
    <div class="sticky-top">
        <div class="text-right">
            <a class="nav-link" href="{{ url_for('logout') }}">
                Logout <strong>{{ user_email }}</strong>
            </a>
        </div>
    </div>

    <div class="text-center">
    {% if message %}

        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Oops! Error occured</h4>
            <p>
                {{ error_message }}
            </p>
        </div>
        <br>
        <h4>{{ message }}</h4>
    {% else %}
        <h1 class="h3 font-weight-normal">Matching results: </h1>
    
    {% endif %}

    {% for book in book_list %}
    <ul>
        <a href="{{ url_for('detail', book_id=book.id) }}">
            <b>{{ book.title }}</b> by {{ book.author }}
        </a>
    </ul>
    {% endfor %}
    </div>
{% endblock %}